### Float Sum

In [ ]:
def floatSum(a,b):
    print("Sum :", a+b)
    return
num1 = 5.8
num2 = 5.9
floatSum(num1,num2)

Sum : 11.7

### Friend circle

In [1]:
fName = input("Enter first name: ")
lName = input("Enter last name: ")
hobby = input("Enter Hobbies: ")
favEvent = input("Enter your favourite event: ")

print(fName,"\n",lName,"\n",hobby,"\n")

sahil
 kewat
 nothing

### Area of Circle

In [2]:
r = int(input("Enter radius: "))
area = 3.14 * (r **2)
print("Area: ",area)

Area:  78.5

### Vote Eligible

In [30]:
age = int(input("Enter your age: "))
if(age>=18):
    print("Eligible to vote :)")
else:
    print("sabr kar le thodaðŸ˜‚")

sabr kar le thodaðŸ˜‚

### Pswd authentication

In [ ]:
count = 0
pswd = "codeWithDJ1727"
if(count <= 3):
    checkPswd = input("Enter passwrod: ")
    if(pswd == checkPswd):
        print("Correct password")
        break
    else:
        print("wrong pswd")
    count = count+1

SyntaxError: 'break' outside loop (2484835884.py, line 7)

### List

In [21]:
cart = []
cart.append({"Item":"Laptop", "Price":76500})
print(cart)
cart.append({"Item":"Mouse", "Price":250})
print(cart)
sum = 0
for i in cart:
    sum = sum + cart[i]["Price"]
print(sum)

[{'Item': 'Laptop', 'Price': 76500}]
[{'Item': 'Laptop', 'Price': 76500}, {'Item': 'Mouse', 'Price': 250}]

TypeError: list indices must be integers or slices, not dict

### Latitude and Longitude Distance

In [22]:
#use distance formula

### Remove Duplicates

In [ ]:
listt = ["a", "b", "e", "a", "a", "x"]
for i in range(len(listt)-1):
    if(list[i] == list[i+1]):

### Even Odd check

In [25]:
number = int(input("Enter number: "))
if(number % 2 == 0):
    print("Given number is even")
else:
    print("Number is not even")
r = "Even" if number%2 == 0 else "Odd"
print(r)

Number is not even
Odd

### ternary operator

In [ ]:
# Using tuple indexing
num = 7
result = ("Odd", "Even")[num % 2 == 0]
print(result)  # Output: Odd

# Using dictionary mapping
a, b = 10, 20
max_value = {True: a, False: b}[a > b]
print(max_value)  # Output: 20

# Using lambda function
max_value = (lambda x, y: x if x > y else y)(a, b)
print(max_value)  # Output: 20

### Grading System

In [ ]:
marks = float(input("Enter marks: "))
result = "A" if marks>=90 else "B" if marks >= 75 else "C" if marks>=33 else "D" 
at = print(result) if att>

B

### Creating a list of cube of odd numbers between 1 to 20

In [29]:
li = []
for i in range(1,21):
    if(i%2 != 0):
        li.append(i**3)
print(li)

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

### Conditional Statements

In [ ]:
# Weather check
temp = float(input("Enter temperature: "))
humid = float(input("Enter humidity: "))

if(temp > 35 and humid>)

### Discounts

In [31]:
isStudent = True
amount = 150
age = int(input("Enter age: "))
discount=0
isFirstTime = False
if age <30 and isStudent:
    print("20% off")
    discount = 0.20
elif age > 60 and isFirstTime :
    print("15% off")
    discount=0.15
elif amount>100 and (not(isFirstTime)):
    discount=0.10
    print("10% off")
else:
    print("No discount applied")
finalPrice = amount * (1-discount)
print(finalPrice)

10% off
135.0

### Age Classifiaction

In [ ]:
def classifyAge(age):
    return "invalid age" if age <= 0 else "Child" if age<13 else "teenager" if age<20 else "Adult" if age<60 else "senior" if age<120 else "Wow that's really old!"
age = int(input("Enter age: "))
conc = classifyAge(age)
print(conc)

Wow that's really old!

### Basic COunter

In [1]:
count = 0
while count <5:
    print(f"Count {count}")
    count += 1

# Break in while loop
a = 10
while (a <20):
    if(a == 16):
        break
    print(a)
    a += 1

Count 0
Count 1
Count 2
Count 3
Count 4
10
11
12
13
14
15

### functions in Python

In [ ]:
def area(l,b,h):
    return l*b*h
l = int(input("Enter length of rectangle: "))
b = int(input("Enter breadth of rectangle: "))
h = int(input("Enter height of rectangel: "))
print("Area of Rectangle: ", area(l,b,h), "cm")

Area of Rectangle:  125 cm

In [6]:
#temp converter
def c_to_f(temp):
    f = (temp*(9/5)) + 32
    return f
tempC = int(input("Enter temperature in Celcius: "))
print("Temperature in Fahrenheit: ", c_to_f(tempC))

Temperature in Fahrenheit:  212.0

### Map function

In [11]:
li = [1,2,3,4]
sq = list(map(lambda  x: x**2, li))
print(sq)

arr1 = [1,2,3,4]
arr2 = [5,6,7,8]
sum = list(map(lambda x,y: x+y, arr1,arr2))
print(sum)

names = ["mohan", "bhairavi", "himanshi", "dj", "shivam"]
upper_name = list(map(lambda n: n.upper(), names))
print(upper_name)

[1, 4, 9, 16]
[6, 8, 10, 12]
['MOHAN', 'BHAIRAVI', 'HIMANSHI', 'DJ', 'SHIVAM']

### filter functiom

In [13]:
li = ["python", "is", "powerful", "and", "awesome"]
long_words = list(filter(lambda f: len(f)>4, li))
print(long_words)

['python', 'powerful', 'awesome']

### reduce function

In [14]:
from functools import reduce
n = [1,2,3,4,5]
total = reduce(lambda x,y: x+y, n)
print(total)

15

### Lambda function

In [16]:
#it is also known anonymous function
num = [2,4,6,8,10]
result = list(map(lambda x: x**2, num))
print(result)

[4, 16, 36, 64, 100]

### types of arguments

In [18]:
def positionalArgs(a,b):
    return a+b

def keywordArgs(name,age,city):
    print(f"MySelf {name} from {city} and I'm {age} years old")
    return

x = 5
y = 6
print(positionalArgs(x,y))

keywordArgs(age=18, city = "roorkee", name="dJ")

11
MySelf dJ from roorkee and I'm 18 years old

In [ ]:
# *args function
def sum_all(*seriess):
    total = 0
    for i in seriess:
        total += i
    return total

print(sum_all(1,2,3,4))
print(sum_all(1,2,3,4,5,6))

#**kwargs
def print_info(**details):
    for key, value in details.items():
        print(f"")

10
21

### calculator

In [21]:
def calc(operation, num1, num2):
    if operation == "add":
        return num1+num2
    elif operation == "subtract":
        return num1-num2
    elif operation == "multiply":
        return num1*num2
    elif operation == "divide":
        return num1/num2 if num2 != 0 else "cannot divide by zero"
    else:
        return "Invalid input"
    
print(calc("add", 5, 7))
print(calc("divide", 5,0))
print(calc("product", 5 ,5))

12
cannot divide by zero
Invalid input

### try except

In [27]:
try:
    number = float(input("Enter number: "))
    result = 100/number
    print("Result: ",result)
except ZeroDivisionError:
    print("cannot divide by zero")

Result:  20.0

In [ ]:
# multiple except
def read_file(filename):
    file = None
    try:
        print("Opening file")
        file = open("dj.txt", "r")
        content = file.read()
        print("File content: ", content)
        return content
    except FileNotFoundError:
        print(f"file {filename} not found")